<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='exploreStyles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav id="sidebar">
        <a href="#home" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('main.home') }}" class="btn nav">Home</a></li>
            <li><a href="{{ url_for('main.explore') }}" class="btn nav">Explore</a></li>
            <li><a href="{{ url_for('music.liked_songs') }}" class="btn nav">Liked Songs</a></li>
            <li><a href="{{ url_for('music.uploaded_songs') }}" class="btn nav">Uploaded Songs</a></li>
            <li><a href="{{ url_for('music.upload_song') }}" class="btn nav">Upload New Song</a></li>
        </ul>

        <ul class="bottom-links" id="sidebar-bottom-links">
            <li><a href="{{ url_for('settings.user_settings') }}" class="btn nav" id="btn-settings">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="btn nav" id="btn-logout">Logout</a></li>
        </ul>
    </nav>
    <div class="main-content">
        {% if recommended_songs %}
            <h2 class="recommendations-title">Recommended for You</h2>
            <div class="top-songs-container">
                <table id="recommended-songs">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Artist</th>
                            <th>Popularity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in recommended_songs %}
                        <tr>
                            <td>{{ song.get_name() }}</td>
                            <td>
                                {% for creator in song.get_creators() %}
                                    {{ creator.get_username() }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ song.get_popularity() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>{{ recommendation_info }}</p>
        {% endif %}

        <h2 class="top-songs-title">Top 20 Popular Songs</h2>
        <div class="top-songs-container">
            <table id="top-songs">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Uploaded By</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in top_songs %}
                    <tr>
                        <td>{{ song.get_name() }}</td>
                        <td>
                            {% for creator in song.get_creators() %}
                                {{creator.get_username()}}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ song.get_popularity() }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h2 class="top-songs-title">Discover By Genre</h2>
        <div class="genre-search-container">
            <input type="text" id="genre-search" placeholder="Type a Genre...">
            <div id="genre-search-results">
            </div>
        </div>

        <h3 id="top-songs-by-genre-title" class="top-songs-title"></h3>
        <div class="top-songs-container">
            <table id="top-songs-by-genre">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Uploaded By</th>
                        <th>Popularity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ url_for('main.home') }}" class="btn btn-secondary btn-block">Go Back</a>

    <script src="{{ url_for('static', filename='explore.js') }}"></script>
</body>
</html>
