<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyles.css') }}">
</head>
<body>

    <nav id="sidebar">
        <a href="#home" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('main.home') }}" class="btn nav">Home</a></li>
            <li><a href="{{ url_for('main.explore') }}" class="btn nav">Explore</a></li>
            <li><a href="{{ url_for('music.liked_songs') }}" class="btn nav">Liked Songs</a></li>
            <li><a href="{{ url_for('music.uploaded_songs') }}" class="btn nav">Uploaded Songs</a></li>
            <li><a href="{{ url_for('music.upload_song') }}" class="btn nav">Upload New Song</a></li>
        </ul>

        <ul class="bottom-links" id="sidebar-bottom-links">
            <li><a href="{{ url_for('settings.user_settings') }}" class="btn nav" id="btn-settings">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="btn nav" id="btn-logout">Logout</a></li>
        </ul>
    </nav>

    <div class="flash-messages-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
    </div>

    <div class="background-logo">
        <img src="{{ url_for('static', filename='img/register_logo.jpg') }}" alt="Music App Logo" style="width: 300px; height: auto;">
    </div>

    <div class="main-content">
        <div class="search-container">
            <input type="text" id="song-search" placeholder="Search..." list="search-suggestions">
            <datalist id="search-suggestions"></datalist>
            <button type="submit" class="search-button" id="search-button">Search</button>
        </div>

        <table id="search-results">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Artist</th>
                    <th>Popularity</th>
                    <th>Filepath</th>
                    <th>Liked</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>
