<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='homeStyles.css') }}">

    <style>
        #search-results th {
            padding-left: 80px;
            padding-right: 80px;
            text-align: left;
        }
    </style>
</head>
<body>

    <div id="sidebar" class="nav">
        <a href="#home" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Your Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('main.home') }}">Home</a></li>
            <li><a href="{{ url_for('main.explore') }}" class="btn btn-primary">Explore</a></li>
            <li><a href="{{ url_for('music.liked_songs') }}" class="btn btn-primary">Liked Songs</a></li>
            <li><a href="{{ url_for('music.uploaded_songs') }}" class="btn btn-primary">Uploaded Songs</a></li>
            <li><a href="{{ url_for('music.upload_song') }}" class="btn btn-primary">Upload New Song</a></li>
        </ul>

        <ul class="bottom-links" id="sidebar-bottom-links">
            <li><a href="{{ url_for('settings.user_settings') }}" class="btn btn-primary" id="btn-settings">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="btn btn-primary" id="btn-logout">Logout</a></li>
        </ul>
    </div>

    <div class="background-logo">
        <img src="{{ url_for('static', filename='img/register_logo.jpg') }}" alt="Your Music App Logo" style="width: 300px; height: auto;">
    </div>
    
    <div class="main-content">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes" style="margin-left: 20px;">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="search-container">
            <input type="text" id="song-search" placeholder="Search...">
            <button id="search-button">Search</button>
        </div>
        <table id="search-results">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Upload Date</th>
                    <th>Uploaded By</th>
                    <th>Popularity</th>
                    <th>Filepath</th>
                    <th>Liked</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='search.js') }}"></script>
</body>
</html>
