<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='buttonStyles.css') }}">
</head>
<body>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}: {{ form.username() }}
        </div>
        <div>
            {{ form.email.label }}: {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }}: {{ form.password() }}
        </div>
        <div>
            {{ form.password2.label }}: {{ form.password2() }}
        </div>
        <div>
            {{ form.submit(class='btn') }}
        </div>
    </form>
</main>

</body>
</html>
