<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='profileStyles.css') }}">
</head>
<body class="login">
    <nav id="sidebar">
        <a href="#home" class="logo">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('main.home') }}" class="btn nav">Home</a></li>
            <li><a href="{{ url_for('main.explore') }}" class="btn nav">Explore</a></li>
            <li><a href="{{ url_for('music.liked_songs') }}" class="btn nav">Liked Songs</a></li>
            <li><a href="{{ url_for('music.uploaded_songs') }}" class="btn nav">Uploaded Songs</a></li>
            <li><a href="{{ url_for('music.upload_song') }}" class="btn nav">Upload New Song</a></li>
        </ul>

        <ul class="bottom-links" id="sidebar-bottom-links">
            <li><a href="{{ url_for('settings.user_settings') }}" class="btn nav" id="btn-settings">Settings</a></li>
            <li><a href="{{ url_for('auth.logout') }}" class="btn nav" id="btn-logout">Logout</a></li>
        </ul>
    </nav>


    <div class="background-logo">
        <img src="{{ url_for('static', filename='img/register_logo.jpg') }}" alt="Music App Logo" style="width: 300px; height: auto;">
    </div>

    <div class="main-content">
        <h1>{{user.get_username()}}'s Profile</h1>
        <p>A member since {{user.get_registered_date_time().strftime('%Y-%m-%d')}}</p>
        {% if is_following %}
            <button class="follow unfollow-button" data-user-id="{{user.get_id()}}">Unfollow</button>
        {% else %}
            <button class="follow follow-button" data-user-id="{{user.get_id()}}">Follow</button>
        {% endif %}
        <table id="search-results">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Popularity</th>
                    <th>Liked Time</th>
                </tr>
            </thead>
            <tbody>
                {% for song, created_date, creators in songs %}
                <tr>
                    <td>{{ song.get_name() }}</td>
                    <td>
                        {% for creator in creators %}
                            <a href="{{ creator.url }}">{{ creator.username }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ song.get_popularity() }}</td>
                    <td>{{ created_date.strftime('%Y-%m-%d') if created_date else 'N/A' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
</body>
</html>
