.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}