body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100%;
    width: 200px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #232323;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar .logo img {
    display: block;
    width: 150px; 
    height: auto;
    margin: 0 auto 20px; 
}

#sidebar .logo {
    display: block; 
    text-align: center; 
    margin-bottom: 10px; 
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #bbbbbb;
    display: block;
}

#sidebar ul li a:hover {
    color: #ffffff;
}

.search-container {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    z-index: 2; 
    margin-left: 200px;
}

.background-logo {
    position: absolute; 
    top: 60%; 
    left: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.2; 
    z-index: -1; 
}

.search-container input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    font-size: 17px;
    border: none;
    outline: none;
}

.search-container button {
    padding: 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: #333333;
    color: #ffffff;
}

.main-content {
    margin-left: 200px; 
    padding: 60px 10px;
}

.fixed-bottom {
    padding: 10px 0;
}

.fixed-bottom .w-100 {
    width: 100%;
    bottom: 0;
    position: absolute;
}

#sidebar ul li a:hover, .search-container button:hover {
    background-color: #575757; 
    color: white;
}

audio {
    width: 100%; 
}

@media screen and (max-height: 450px) {
    #sidebar {padding-top: 15px;}
    #sidebar ul li a {font-size: 18px;}
}

body.login img.logo {
    max-height: 110px;
    margin-bottom: 20px;
}
body.login{
    background-color: #1a1a1a;
}
.search {
    position: fixed; 
    top: 10px; 
    bottom: 0;
    left: 0; 
    right: 0;
    width: 50%; 
    height: auto;
    margin: auto; 
    background-color: #0b0909;
}
.logo-container {
    background-color: #0b0909;
}
.btn-settings {
    font-size: 21px !important; 
    padding: 10px 20px !important;
    margin-top: 250px !important; 
    display: block !important; 
    width: auto !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}
.btn-logout {
    font-size: 21px !important;
    padding: 10px 20px !important; 
    display: block !important;
    width: auto !important; 
    margin-left: auto !important;
    margin-right: auto !important;
}
