* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-size: 16px;
}

h1, h2, h3 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #333;
    color: #fff;
    z-index: 1000;
}

#sidebar .logo {
    padding: 20px;
    background: #222;
    display: block;
    text-align: center;
}

#sidebar .logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }

#sidebar ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
}

#sidebar ul li {
    padding: 0px 15px;
}

#sidebar ul li a {
    color: #ddd;
    text-decoration: none;
    align-items: center;
    display: block;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    transition: background-color 0.3s; }

#sidebar ul li a:hover,
#sidebar ul li a.active {
    background: #555;
    color: #fff; }

#sidebar .bottom-links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-content {
    margin-left: 250px;
    padding: 40px;
}

.recommendations-title{
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

.top-songs-title {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

.top-songs-container {
    max-height: 40vh;
    overflow-y: auto;
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #333;
}

th {
    background-color: #1F1F1F;
    color: #FFF;
}

td {
    color: #AAA;
}

tbody tr:hover {
    background-color: #333333;
}

.genre-search-container {
    text-align: center;
}

#genre-search {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333333;
    color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 4px;
}


.btn-secondary.btn-block {
    position: fixed;
    left: 22%;
    transform: translateX(-50%);
    bottom: 10px; 
    color: #c0c3d4;
    padding: 5px 10px;
    width: auto; 
    font-size: 18px;
    border-radius: 5px;
}

.card {
    background-color: #222;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}


@media (min-width: 768px) {
    .container-fluid .row .col-md-8 {
        display: flex;
        flex-direction: column;
    }

    .container-fluid .row .col-md-8 .card {
        flex: 1;
    }
}

