/* Add a dark background to the body */
body {
    background-color: #121212; /* Dark background for the body */
    color: #ffffff; /* Light text for better readability in dark mode */
}

/* Search Bar Styling */
.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* space between search bar and the table */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #333333; /* Dark background for the search bar */
    color: #ffffff; /* Light color text */
}

/* Table Styling */
#search-results th {
    background-color: #333333;
    color: #ffffff;
}

#search-results th, #search-results td {
    padding: 15px; /* more padding for a better look */
    text-align: left;
    border-bottom: 1px solid #ddd; /* changed to only bottom for a cleaner look */
}


/* Hover effect for table rows */
#search-results tr:hover {
    background-color: #454545;
}

/* Additional Styles to make the table prettier */
.results-container {
    padding: 0 20px; /* padding around the table */
}

/* More styles can be added as per the design requirements */
