body, h1, h2, h3, ul, li {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #121212;
    font-family: Arial, sans-serif;
}

.dynamic-search-results a {
    text-decoration: underline;
    color: #ffffff;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #232323;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
}

#sidebar .logo {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#sidebar .logo img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto 20px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #bbbbbb;
    display: block;
}

#sidebar ul li a:hover, .search-container button:hover {
    color: #ffffff;
    background-color: #575757;
}

#sidebar ul li:hover {
    background-color: #575757;
}

.bottom-links {
    margin-top: auto;
    list-style: none;
    padding-bottom: 40px;
}

#sidebar-bottom-links .btn {
    font-size: 1.4em;
    padding: 10px 15px;
}

.flash-messages-container {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.flashes {
    display: inline-block;
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.alert {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.search-container input[type="text"] {
    padding: 10px;
    background-color: #1E1E1E;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#song-search {
    padding: 8px 15px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

#song-search:focus {
    outline: none;
    border-color: #6fb2d8;
}

button.search-button {
    padding: 8px 15px;
    background-color: #7a7979;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button.search-button:hover {
    background-color: #6fb2d8;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #333;
}

th {
    background-color: #1F1F1F;
    color: #FFF;
}

td {
    color: #AAA;
}

tbody tr:hover {
    background-color: #333333;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

.main-content {
    margin-left: 200px;
    padding: 40px;
}

@media screen and (max-height: 450px) {
    #sidebar {padding-top: 15px;}
    #sidebar ul li a {font-size: 18px;}
}

body.login {
    background-color: #1a1a1a;
}

body.login img.logo {
    max-height: 110px;
    margin-bottom: 20px;
}

.background-logo {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    z-index: -1;
}